<h1>About This Site</h1>
<p>Dr. Crypto ID is about ID'ing news, view, and reviews about cryptocurrencies and blockchain technologies.</p>
<p>While it is not our mission to in any way advise on or advocate about ANY particular crypto--and NOTHING we say should be taken as actual investment advice at all or ever--we will comment about the market and make observations that are entirely OUR OWN OPINION. We cannot and will not be held liable for any investment decisions or other monetary actions taken as a result of anyone reading or interacting with anything on this site! The purpose of this site is primarily news and entertaiment and every piece of data or information discussed or deployed here should be viewed as such.</p>
<br>
<a (click)="returnToTopPage()">back</a>
