
  <div>
    <div class="panel-body" class="selectedArticle">
      <!-- <h3 (click)="goToArticleDetailPage(album)" ><em>article.articleHeader</em> by article.author</h3>
      <h4>article.uploadDate</h4>
      <p class="ledeStyle">article.lede</p>
      <p class="articleStyle">ARTICLE WILL BE ON ITS OWN DETAIL PAGE</p>
      <p class="votes">article.upvotesUPIMAGE | article.downvotesDOWNIMAGE</p> -->

      <!-- this will be if logged in as admin -->
      <!-- <div *ngIf="currentRoute === '/admin'">
        {{article.name}}
        PREPARE TO CHANGE ROUTING FOR ARTICLE EDIT
        THIS DIV MAY NOT EVEN EXIST
        EDITING WILL BE ON ARTICLE DETAILS PAGE
        <hr>
      </div> -->
      <!-- <app-edit-article [selectedArticle]="article"></app-edit-article> -->

    </div>

    <div *ngFor="let article of articles | async"><!--how can I make this scroll?-->
      <h3 (click)="goToArticleDetailPage(article)" routerLink="articles">{{article.name}} | {{article.uploadDate}}</h3>
      <p>{{article.lede}}</p>
      <p>Upvotes: {{article.upvotes}} | Downvotes: {{article.downvotes}}
      <br>
    </div>

  </div>
