<p>article works!</p>
<p>Articles go here<p>
  <div>
    <div class="panel-body" class="selectedArticle">
      <h3 (click)="goToArticleDetailPage(album)" ><em>article.articleHeader</em> by article.author</h3>
      <h4>article.uploadDate</h4>
      <p class="ledeStyle">article.lede</p>
      <p class="articleStyle">ARTICLE WILL BE ON ITS OWN DETAIL PAGE</p>
      <p class="votes">article.upvotesUPIMAGE | article.downvotesDOWNIMAGE</p>
      <div *ngIf="currentRoute === '/admin'">
        <!-- this will be if logged in as admin -->
        {{article.name}}
        PREPARE TO CHANGE ROUTING FOR ARTICLE EDIT
        THIS DIV MAY NOT EVEN EXIST
        EDITING WILL BE ON ARTICLE DETAILS PAGE
        <hr>
        <!-- <app-edit-article [selectedArticle]="article"></app-edit-article> -->

      </div>
    </div>
  
  </div>
  <!-- Note: Tweet IDs should be represented as strings in order to maintain precision
  <div ng-repeat="tweetID in tweetIDs track by $index">

      <twitter-widget twitter-widget-id="979814343373189120">
      </twitter-widget>

      <twitter-timeline twitter-timeline-id="'6673710543212052480'">
  </twitter-timeline>

      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">By 6 pm local today Russian invaders of Europe in Ukraine had conducted 16 assaults/bombardments. Sadly, one Ukrainian defender was killed in action; three were wounded in action. Opytne, Verkhniotoretske, Bohdanivka targetted with heavy mortars, grenade launchers, TOW missiles.</p>&mdash; Michael MacKay (@mhmck) <a href="https://twitter.com/mhmck/status/979814343373189120?ref_src=twsrc%5Etfw">March 30, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div> -->
