<div class="container">
  <div style="text-align:center jumbotron"> <!-- app header -->
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

      <!-- <div *ngIf="cryptos">
        <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
          <span class="left">{{ crypto }}</span>
          <span class="right">{{ cryptos[crypto].USD | currency:'USD':true}}</span>
        </div>
      </div> -->




  <!-- <div class="container">
  	<div class="row">
  		<div class="col-sm-6 col-sm-offset-3">
  			<h2 class="text-center">{{ title }}</h2>
  			<app-dashboard></app-dashboard>
  		</div>
  	</div>
  </div> -->

  <div class="container well">
    <div class="row">
    <!-- note that the !'s are conditionals that are NOT just so that I can see the selector's module content -->
      <div class="col-md-10" id="main">
        <div *ngIf="!article">

          <!-- <app-article [myArticle] = "makeArticles()">{{myArticle.name}}</app-article> -->
          <app-article></app-article>

          <!-- <ul>
            <li>There'd be an article here</li>
          </ul> -->
        </div>
        <app-forum></app-forum>
      </div>
      <div class="col-md-2" id="sidebar">
        <div *ngIf="!adminLogged">
          <app-admin></app-admin>
        </div>
        <div *ngIf="!readerLogged">
          <app-reader></app-reader>
        </div>
        <app-lookup></app-lookup>



        <app-search></app-search>
      </div>
    </div>
  </div>
</div>
