<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Epicodus Tunes</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="login">Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div style="text-align:center jumbotron"> <!-- app header -->
    <h1>
      {{ title }}!
    </h1>
  </div><!-- end jumbotron-->

  <!--div *ngFor="let album of albums | async" class="panel panel-default"/div-->
  <div>
    <div class="panel-body" class="selectedArticle">
      <h3 (click)="goToArticleDetailPage(album)" ><em>article.articleHeader</em> by article.author</h3>
      <h4>article.uploadDate</h4>
      <p class="ledeStyle">article.lede</p>
      <p class="articleStyle">ARTICLE WILL BE ON ITS OWN DETAIL PAGE</p>
      <p class="votes">article.upvotesUPIMAGE | article.downvotesDOWNIMAGE</p>
      <div *ngIf="currentRoute === '/admin'">
        <!-- this will be if logged in as admin -->
        {{article.name}}
        PREPARE TO CHANGE ROUTING FOR ARTICLE EDIT
        THIS DIV MAY NOT EVEN EXIST
        EDITING WILL BE ON ARTICLE DETAILS PAGE
        <hr>
        <!-- <app-edit-article [selectedArticle]="article"></app-edit-article> -->

      </div>
    </div>
  </div>

      <!-- <div *ngIf="cryptos">
        <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
          <span class="left">{{ crypto }}</span>
          <span class="right">{{ cryptos[crypto].USD | currency:'USD':true}}</span>
        </div>
      </div> -->

  <!-- <div class="container">
  	<div class="row">
  		<div class="col-sm-6 col-sm-offset-3">
  			<h2 class="text-center">{{ title }}</h2>
  			<app-dashboard></app-dashboard>
  		</div>
  	</div>
  </div> -->

  <div class="container well">
    <div class="row">
    <!-- note that the !'s are conditionals that are NOT just so that I can see the selector's module content -->
      <div class="col-md-10" id="main">
        <div *ngIf="!article">
          <!-- <app-article [myArticle] = "makeArticles()">{{myArticle.name}}</app-article> -->
          <app-article></app-article>
          <!-- <ul>
            <li>There'd be an article here</li>
          </ul> -->
        </div>
        <app-forum></app-forum>
      </div>
      <div class="col-md-2" id="sidebar">
        <div *ngIf="!adminLogged">
          <app-admin></app-admin>
        </div>
        <div *ngIf="!readerLogged">
          <app-reader></app-reader>
        </div>
        <app-lookup></app-lookup>
        <app-search></app-search>
      </div>
    </div>
  </div>

</div>
